/* Ensure full-width and no padding/margins on header and footer */
header, footer {
  width: 100vw;
  background-color: #0a1d54;
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Ensures no overflow */
}
.login-page {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: #f7f7f7;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #0a1d54;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px 0;
  color: white;
  position: fixed;
  bottom: 0;
}

/* Reset margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
    width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

